# Ignore folders which are generated during runtime
outputs/*
*.pyc

# Choir Studio build artifacts
choir_studio/node_modules/
choir_studio/dist/
choir_studio/src-tauri/target/

# Extra folders
zips/*
klattclassic/*
dectalk/*
external/*

# Ignore all songs except for the 3 example tracks

songs/*

!songs/CarolOfTheBells_Short*
!songs/AuldLangSyne*
!songs/DaisyBell*
!songs/OctaveBoostReference*
